<div class="theme">
	<p>ТОРГОВАЯ ПЛОЩАДКА В ЦЕНТРЕ ГОРОДА,<br>
ГДЕ ВЫ БЫСТРО И БЕЗ ПОСРЕДНИКОВ ПРОДАДИТЕ<br>
ИЛИ ОБМЕНЯЕТЕ СВОЙ АВТО. </p>
</div>

<div class="about">
	<div class="vertical">
		<div class="horizontal">
			<p><b>КОЛЕСО</b> это центр Калининграда, высокая
проходимость, полный комплекс услуг для продажи авто
и главное охраняемая стоянка. Уютно вам, покупателям
и автомобилю.</p>
		</div>
		<div class="horizontal">
			<p><b>БЕЗОПАСНОСТЬ</b> и конфиденциальность всех покупок и
продаж. Нет смысла искать авторынок, продавайте сами
или доверьте нам. Точно знаем кто хочет купить ваш
автомобиль.</p>
		</div>
		<div class="horizontal">
			<p><b>БЕСПЛАТНО</b> подготовим и разместим объявления о
продаже вашего авто. Сделаем профессиональные
фотографии автомобиля, опубликуем на нашем и
тематических сайтах Калининграда, а так же
в социальных сетях.</p>
		</div>
	</div>

	<div class="vertical">
		<div class="horizontal">
			<p><b>БЕСПЛАТНОЕ</b> включение авто в программу обмена.
Оценим ваш автомобиль и предложим проверенную
машину с нашей автостоянки. Пользуйтесь новым не
дожидаясь реализации старого!</p>
		</div>
		<div class="horizontal">
			<p><b>БЫСТРО</b> и на месте, для вас услуги по страхованию и
кредитованию автомобиля, комиссионный и юридический
отдел. Знаем все тонкости, помогаем реализовать мечту!</p>
		</div>
		<div class="horizontal">
			<p><b>ПОМОЩЬ</b> в оформлении всех необходимых
документов. Наши специалисты с большим опытом
помогут вам. Мы защитим вас от проблем и поможем
разобраться со всеми вопросами!</p>
		</div>
	</div>
</div>


<div class = "map">
	<div class="map_cont">
	<p>г.Калининград, <br>ул. Портовая 20А <br>
		тел. 8 (4012) 45 - 15 - 12<br>
	пн-пт с 9 до 21</p>
	<img src="assets/css/img/map.jpg" width="700" height="500">
	 <!-- <div id="map" style="width: 700px; height: 500px"></div> -->
	</div>	
</div>
